@charset "utf-8";
h1 {
	color: #FFF;
	text-align: center;
}
h2 {
	color: #FFF;
	text-align: center;
}
p {
	color: #FFF;
	text-align: left;
}
h3 {
	color: #FFF;
	text-align: center;
}
body {
	background-color: #013145;
}
table {
	background-color: #036;
	border: medium solid #000;
}
td {
	border: medium solid #000;
}
